<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코드 리뷰 서비스</title>
    <style>
        input[type="text"] {
            width: 80%;
        }
    </style>
</head>
<body>
    <h1>코드 리뷰 서비스</h1>
    <form id="codeForm">
        <label for="github_url">GitHub 파일 URL:</label>
        <br><input type="text" id="github_url" name="github_url" placeholder="https://github.com/xxxx...">
        <br><button type="submit">분석</button>
    </form>
    <h2>분석 결과</h2>
    <div id="result" rows="5" cols="80" readonly></div>
    <!-- 아래처럼 수정 -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>